.env
.vscode
.idea
build
dist
node_modules
backend/yarn-error.log
dbdata/

docker/.env
docker/*.sql
docker/nginx.conf
docker/deploy_back
docker/deploy_front
docker/dbdata/
docker/couchdata/
docker/rabbitmqdata/
docker/conf.d/nginx.conf
docker/voip/*.pem
